/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.news {
  // Styling the default Slick dots

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    // margin: 0;
    bottom: 0px;
    right: 0;
    padding: 1rem 0;

    list-style-type: none;

    li {
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 1rem;
      height: 1rem;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: $green;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: $black;
    }

  }

  // arrow slick
  .slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  .prev-arrow {
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid $black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .next-arrow {
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid $black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

}

// slider gallery
.gallery {
  .gallery-slide {
    width: 896px;
    position: relative;
    overflow: hidden;
    margin: 0 15px
  }

  .gallery-slide img {
    width: 100%;
    // width: 100%;
    height: 40rem;
    position: relative;
    transition: all 1s ease-out;
  }

  .gallery-slide.slick-center img {
    transition: all 1s ease-out;
    opacity: 1;
  }

  .slick-prev,
  .slick-next {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    z-index: 3000;
    top: 0;
    bottom: 0;
    cursor: pointer;
    outline: none;
    background: #fff;
  }

  .slick-next {

    right: calc(50% - 545px);
    text-indent: 1px;
    background-repeat: no-repeat;
    // padding-right: 1.2rem;
    background-size: 20px 20px;
    background-image: url('../images/icons/arrow-right2.svg');
    background-position: center center;

  }

  .slick-prev {
    left: calc(50% - 545px);
    text-indent: -2px;
    background-repeat: no-repeat;
    // padding-right: 1.2rem;
    background-size: 20px 20px;
    background-image: url('../images/icons/arrow-right2.svg');
    background-position: center center;
    transform: rotate(-180deg);
  }

  .slick-arrow {
    // background: none;
    // border: no1 sne;
    // border: 1px solid #000;

    position: absolute;
    bottom: 33px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0;
    width: 33px;
    height: 33px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: background-color .2s ease 0s;
    transition: background-color .2s ease 0s
  }

  .slick-arrow:hover {
    // background-color: rgba(91, 251, 150, 0.5)
    background-color: rgba(196, 238, 188, 0.5);
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    right: calc(50% - 432px);
    padding: 0;
    margin: 0;
    list-style: none
  }

  .slick-dots li {
    float: left;
    display: block;
    margin: 1rem .2rem;
    font-size: 0
  }

  .slick-dots button {
    border: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, .4);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    text-indent: 9999px;
    padding: 0
  }

  .gallery-slider .slick-dots .slick-active button {
    background: rgba(255, 255, 255, .8)
  }

  .gallery-slider__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 33px 99px;
    color: #fff;
    z-index: 5;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  .prev .gallery-slider__text {
    text-align: right;
    float: right;



  }

  .slick-active .gallery-slider__text {
    padding: 0 55px 99px
  }

  .gallery-slider__category {
    text-transform: uppercase;
    color: #DE751F;
  }

  .gallery-slider__title {
    font-size: 1.1rem;
    line-height: 1.15em;
    margin: .4rem 0 0;
    -webkit-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    color: #fff;
  }

  .gallery-slider.changing .gallery-slider__text {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }

  .slick-active .gallery-slider__title {
    margin-top: .8rem;
    font-size: 3.1rem;
    -webkit-transition: all .4s ease .2s;
    transition: all .4s ease .2s
  }

  .gallery-slider__summary {
    position: relative;
    height: 1px;
    top: 100px;
    font-weight: 400;
    margin: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s
  }

  .slick-active .gallery-slider__summary {
    top: 5px;
    -webkit-transition: all .4s ease .2s;
    transition: all .4s ease .2s
  }

  .gallery-slide:before {
    content: "";
    display: block;
  }

  .gallery-slide figure:before,
  .gallery-slide figure:after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%)
  }

  .gallery-slide figure:before {
    top: 0;
    background: transparent;
    z-index: 1;
    -webkit-transition: background-color .4s ease 0s;
    transition: background-color .4s ease 0s
  }

  .gallery-slide:hover figure:before,
  .gallery-slide:focus figure:before {
    background: rgba(39, 37, 30, .6)
  }

}

// blogs slick
.blogs {
  .wrap {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background: url('../images/edward-howell-vvUy1hWVYEA-unsplash.jpg') center no-repeat;
    // background: $green;
    // -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .wrap:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba(0, 0, 0, .3);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }

  .slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    max-width: 800px;
    width: 100%;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    border: none;
    background: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 5rem;
    z-index: 300;
    outline: none;
  }

  .slick-prev {
    left: -50px;
    text-align: left;
  }

  .slick-next {
    right: -50px;
    text-align: right;
  }



  .item.slick-slide {
    width: 400px;
    height: 400px !important;
    transition: transform .4s;
    position: relative;
  }



  .slick-slide:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .4s;
  }

  .item.slick-slide {
    transform: scale(0.7) translate(640px);
  }

  .item.slick-slide.slick-center+.slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
  }

  .item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
    transform: scale(0.7) translate(-640px);
    z-index: 5;
  }

  .item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
  }

  .item.slick-slide.slick-center {
    /* margin: 0 -10%; */
    transform: scale(1);
    z-index: 30;
  }

  .slick-center:after {
    opacity: 0;
  }
}

// up top
.back-to-top {
  background: $green;
  border-radius: 50%;
  position: fixed;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 3000;
}

.back-to-top.active {
  bottom: 120px;
  transition: 0.3s all;
}