$wh: #fff;
$black: #060505;
$green: #a28bc7;
$red: rgba(233, 89, 70, 0.869);

%rubik-500 {

  font-family: 'Rubik',
    sans-serif;
  font-weight: 500;
}

%rubik-700 {

  font-family: 'Rubik',
    sans-serif;
  font-weight: 700;
}

%meri-400 {
  font-family: 'Merriweather',
    serif;
  font-weight: 400;
}