$wh: #fff;
$black: #060505;
$green: #c4eebc;

%rubik-500 {

  font-family: 'Rubik',
    sans-serif;
  font-weight: 500;
}

%rubik-700 {

  font-family: 'Rubik',
    sans-serif;
  font-weight: 700;
}

%meri-400 {
  font-family: 'Merriweather',
    serif;
  font-weight: 400;
}